* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
a {
    text-decoration: none;
    list-style-type: none;

}

body {
    /* display: flex; */
    /* min-width: 100vh; */
}

.header {
    display: flex;
    flex-direction: column;
}

.header-1 {
    display: flex;
    justify-content: space-between;

    padding: 10px 100px 100px 100px; 
}

.links {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.header-2 {
    display: flex;
    padding: 10px 100px 100px 100px; 
}