* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
a {
    text-decoration: none;
    list-style-type: none;
}

a:visited,
a:link {
    text-decoration: none;
    color: white;
}

body {
    display: flex;
    flex-direction: column;

    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    padding: 5px 70px 5px 70px ;
    background-color: #1F2937;
    color: white;
}

.header-1 {
    display: flex;
    justify-content: space-between;

    padding: 10px 50px 50px 50px; 
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 15px;

    font-size: 18px;
    color: #E5E7Eb;
}

.header-2 {
    display: flex;
    flex-grow: 1;
    padding: 100px 50px 50px 50px; 
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding-bottom: 15px;
}

.testo-header p {
    font-size: 18px;
    color: #E5E7Eb;
    padding-bottom: 15px;
    padding-top: 20px;

}

.testo-header, 
.immagine-header {
    align-self: flex-start;
}

.button-header {
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 20%;
    border: none;    
    background-color: #3882F6;
    color: white;
}

.immagine-header {
    width: 500px;
    height: 400px;
}