* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
a {
    text-decoration: none;
    list-style-type: none;
}

a:visited,
a:link {
    text-decoration: none;
    color: white;
}

body {
    display: flex;
    flex-direction: column;

    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 120px;

    background-color: #1F2937;
    color: white;
    padding: 0 120px;

}

.header-1 {
    display: flex;
    justify-content: space-between;

    padding-top: 5px ;
    /* padding: 10px 50px 50px 50px;  */
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 15px;

    font-size: 18px;
    color: #E5E7Eb;
}

.header-2 {
    display: flex;
    flex-grow: 1;
    padding: 150px 0; 
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding-bottom: 15px;
}

.testo-header p {
    font-size: 18px;
    color: #E5E7Eb;
    padding-bottom: 15px;
    padding-top: 20px;

}

.testo-header, 
.immagine-header {
    align-self: flex-start;
}

.button-header {
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 20%;
    border: none;    
    background-color: #3882F6;
    color: white;
}

.immagine-header {
    width: 500px;
    height: 400px;
}

.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.body-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 120px 80px;
    min-height: 50vh;

}

h2 {
    display: flex;
    justify-content: center;
    align-self: flex-start;

    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 50px 50px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    flex-grow: 1;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.img-text {
    display: flex;
    align-items: center;
    max-width: 180px;
    text-align: center;
    padding-top: 10px;
}

.body-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 80px 300px;
    background-color: #E5E7Eb;
    min-height: 50vh;
}

.quote {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;

    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote-author {
    display: flex;
    align-self: flex-end;

    font-weight: bold;
    font-size: 24px;
    color: #1F2937;
}

.body-3 {
display: flex;
padding: 80px 120px;
justify-content: center;
align-items: center;
}

.container-body-3{
    display: flex;
    background-color: #3882F6;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border-radius: 12%;
}

.container-1-body-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #E5E7Eb;
}

.button-body {
    display: flex;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 20%;
    background-color: #3882F6;
}

.footer {
    display: flex;
    align-items: center;
    padding: 20px;

    background-color: #1F2937;
    color: #F9FAF8;
}

.footer-text {
    margin: 0 auto;
}